.friendsBlock {
    margin-top: 100px;
}
.friends {
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    padding-left: 10px;
}
.image {
    width: 65px;
    height: 65px;
}
.name {
    margin: 0;
    text-align: center;
}
.person {
    display: inline-block;
}