.pagination {
    border: 2px solid;
    max-width: 670px;
    text-align: center;
    border-radius: 10px;
    background: #d6d6d6;
}
.selectedPage {
    background: #2b3120 !important;
    color: #fff !important;
}
@media screen and (max-width: 768px) {
    .pagination {
        max-width: 400px;
    }
}


