.descriptionBlock {
    padding: 20px 10px 20px 30px;
    border: 3px solid #2b3120;
    border-radius: 0 0 50% 0;
    border-left: none;
    border-top: none;
}
.userPhoto {
    border-radius: 50%;
}
.buttonWrapper {
    position: relative;
    max-width: 150px;
    text-align: center;
    margin: 5px 0 15px 75px;
}
.buttonWrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #2b3120;
    cursor: pointer;
    color: #fff;
    padding: 10px 0;
    text-transform:uppercase;
    font-size: .9em;
}
.uploadBox {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.statusBlock {
    margin-left: 30px;
    padding: 5px;
    max-width: 280px;
}
.statusBlock div {
    display: inline-block;
}
.status {
    font-size: 1.05em;
    color: #2b3120;
    padding: 2px 5px 2px 7px;
    border-radius: 5px;
}
.statusMsg {
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.03em;
    margin-right: 10px;
    word-break: break-all;
}
.statusInput {
    padding: 4px;
    font-size: .95em;
}
.statusChngBtn {
    border: none;
    cursor: pointer;
}
.statusChngBtn img {
    max-width: 17px;
    vertical-align: -4px;
}
@media (max-width: 700px) {
    .descriptionBlock {
        border-radius: 0;
        border-right: none;
        border-bottom: 2px solid #2b3120;
    }
}
